<div class="container">
  <div class="page-form">
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit">Search</button>
    </form>
  </div>

  <div class="gallery"></div>
  <div class="loader-fixed"><span class="loader is-hidden"></span></div>
  <div class="load-wrap">
    <button class="load-more is-hidden">SHOW MORE</button>
  </div>
</div>
